<h1><%= @article.title %></h1>
<p><%= @article.text %></p>
<div class='position-absolute bottom-0 start-50 fs-6 '>
   <%= @article.votes.count%>
</div>
<div class='position-absolute bottom-0 fs-6 d-flex'>
  <%= vote(@article)%>
</div><br>
<%= image_tag @article.image_url if @article.image %>


<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>

